# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
# https://github.com/github/gitignore/blob/master/Global/VirtualEnv.gitignore
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

.ipynb
.ipynb_checkpoints/debug-checkpoint.ipynb
debug.ipynb
goo_venv/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
goo_venv/share/jupyter/kernels/python3/kernel.json
goo_venv/share/jupyter/kernels/python3/logo-32x32.png
goo_venv/share/jupyter/kernels/python3/logo-64x64.png
goo_venv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
goo_venv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
goo_venv/share/man/man1/ipython.1.gz


.pyc
apiKey.py
apiKey.pyc
apiKey.cpython-36.pyc

yelp_config.json

Twitter.db